* {
	box-sizing: border-box;
}

nav {
	padding: 0px 60px;
	position: relative;
	height: 50px;
	width: 100%;
	background-color: grey;
	position: fixed;
}

li {
	list-style: none;
	display: inline-block;
}

li:after {
	content: "\ |"; 
}

nav > img {
	height: 100%;
	float: left;
	margin-right: 40px;
	border-radius: 100%;
	border: 1px solid black;
}

div.square {
	height: 600px;
	width: 300px;
}