* {
	box-sizing: border-box;
}

nav {
	padding: 0px 60px;
	position: relative;
	height: 50px;
	width: 100%;
	background-color: grey;
	position: fixed;
}

li {
	list-style: none;
	display: inline-block;
}

li:after {
	content: "\ |"; 
}

nav > img {
	height: 100%;
	float: left;
	margin-right: 40px;
	border-radius: 100%;
	border: 1px solid black;
}

.square {
	position: relative;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	border: 10px green dotted;
	top: 200px;
}

.dog, .cat {
	height: 200px;
	width: 200px;
}

.dog {
	position: absolute;
	left: 80%;
	top: 60%;
}

.cat {
	position: absolute;
	left: -15%;
	top: -50%;
}

body {
	background-image: url("images/spacecat.png");
	background-size: contain;
}